# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
myenv/

# Ignore IDE/editor specific files
.vscode/

# Ignore logs and temporary files
*.log
*.tmp


# Ignore coverage reports
.coverage
